/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.wrapper {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto; /* Centrer le contenu */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* S'assurer que le wrapper prend toute la hauteur de la fenêtre */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 20px 30px; /* Augmenter le padding pour un header plus grand */
    position: relative;
}

.header .title-container {
    flex-grow: 1;
    text-align: center;
    margin-left: 185px;
}

.header h1 {
    font-size: 2.5em; /* Augmenter la taille de la police */
    color: blue; /* Couleur rouge pour "Medicare" */
    margin: 0;
}

.header h1 span {
    color: red; /* Couleur bleue pour "Services Médicaux" */
}

.header .logo {
    max-height: 125px; /* Augmenter la taille du logo */
    position: absolute;
    left: 25px; /* Ajouter le logo à gauche du titre */
    top: 50%; /* Centrer verticalement */
    transform: translateY(-50%);
}

.header .small-logo {
    max-height: 85px; /* Réduire la taille du petit logo */
}

.navigation {
    background-color: #FFFFF0;
    padding: 20px 0;
    border-bottom: 2px solid #ccc;
    text-align: center; /* Centrer les boutons */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Ajuster l'espacement entre les boutons */
}

.button {
    background-color: rgb(32, 67, 104); /* Couleur de fond des boutons */
    color: white; /* Couleur du texte des boutons */
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1em;
    border-radius: 10px; /* Coins arrondis */
    border: 1px solid #ccc; /* Bordure des boutons */
    text-align: center;
}

.section {
    flex-grow: 1; /* Faire grandir la section pour occuper l'espace disponible */
    padding: 20px;
    text-align: center;
    font-size: 2em; /* Taille de police ajustée pour le texte de la section */
    color: #4169e1; /* Couleur bleue pour le texte de la section */

    background-color: #FFFFF0;
}

.footer {
    background-color: lightblue;
    color: #666;
    font-size: 1em;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Ajouter de l'espace entre les éléments du footer */
}

.footer .contact-info p {
    margin: 20px 0; /* Ajouter de la marge au-dessus et en dessous des lignes de contact */
    margin-left: 300px;
}

.footer .contact-info a {
    color: #333; /* Couleur des liens dans les informations de contact */
    text-decoration: none; /* Enlever la décoration des liens */
}

.footer .contact-info a:hover {
    text-decoration: underline; /* Ajouter une décoration au survol */
}

.footer .map-container iframe {
    max-width: 50%; /* S'assurer que la carte ne dépasse pas la largeur du conteneur */
    height: auto;
    margin-right: 300px;
}
