/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.wrapper {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 20px 30px; 
    position: relative;
}

.header .title-container {
    flex-grow: 1;
    text-align: center;
    margin-left: 185px;
}

.header h1 {
    font-size: 2.5em;
    color: blue;
    margin: 0;
}

.header h1 span {
    color: red; 
}

.header .logo {
    max-height: 125px;
    position: absolute;
    left: 25px;
    top: 50%; 
    transform: translateY(-50%);
}

.header .small-logo {
    max-height: 85px; 
}

.navigation {
    background-color: rgb(32, 67, 104);
    padding: 20px 0;
    border-bottom: 2px solid #ccc;
    text-align: center; 
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button {
    background-color: rgb(32, 67, 104); 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1em;

    text-align: center;
}

.section {
    flex-grow: 1; 
    padding: 20px;
    text-align: center;
    font-size: 2em; 
    color: #4169e1;

    background-color: #FFFFF0;
}

.medicare-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto; 
    max-width: 1200px; 
}

.medicare-image {
    width: 30%; 
}

.text-container {
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.text-container h2 {
    text-align: center; 
}

.footer {
    background-color: lightblue;
    color: #666;
    font-size: 1em;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; 
}

.footer .contact-info p {
    margin: 20px 0; 
    margin-left: 300px;
}

.footer .contact-info a {
    color: #333; 
    text-decoration: none;
}

.footer .contact-info a:hover {
    text-decoration: underline; 
}

.footer .map-container iframe {
    max-width: 50%; 
    height: auto;
    margin-right: 300px;
}

